<a href="https://colab.research.google.com/github/AlessandroRossiUFF/desafio3/blob/main/Desafio_CR_UFF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Você precisa calcular o CR de alunos de uma universidade. Para isto será preciso ler de um arquivo csv a lista de notas dos alunos e, de acordo com as notas e os critérios da universidade, calcular o CR de todos os alunos. Ao final do processo, será preciso mostrar na tela o CR de todos os alunos e qual a média de CR dos cursos.

Regras
A nota do aluno vai de zero até 100;
Uma nota é associada a uma disciplina e a um código de curso;
O CR é a média ponderada da nota do aluno naquela turma com a carga horária daquela turma. O cálculo é:
CR = Nota(i)*CargaHoraria(i)/TotalCargaHoraria

i é a i-ésima turma de um aluno
Utilizar Orientação a Objetos para resolver o problema
Escolha a linguagem que achar adequada

#A partir daqui começa a resolução.

###Vamos começar importando nosso DataFrame com o pandas,criando uma classe chamada DataBase que vai ser onde iremos trabalhar todas informações necessárias e colocando um módulo chamado CalculaCR dentro da nossa classe para operar as informações.

In [220]:
import pandas as pd
dados = pd.read_csv("/content/drive/MyDrive/notas.csv", usecols=[0, 1, 2, 3, 4])
df_aluno = pd.DataFrame({'Matricula':[],'CR':[]
                         })
df_turma = pd.DataFrame({'CODIGO_DE_TURMA':[],'CR':[]
                         })
df_disciplina = pd.DataFrame({'COD_DISCIPLINA':[],'CR':[]
                         })

df_aluno['Matricula'] = dados['MATRICULA'].unique()
df_turma['CODIGO_DE_TURMA'] = dados['COD_CURSO'].unique()
df_disciplina['COD_DISCIPLINA'] = dados['COD_DISCIPLINA'].unique()


class DataBase:
  lista = dados
  turmaT = dados['COD_CURSO']                  #Todas as linhas na coluna das turmas.
  turmaU = dados['COD_CURSO'].unique()         #Turmas sem repetição.
  matriculaT = dados['MATRICULA']              #Todas as linhas na coluna das matriculas.
  matriculaU = dados['MATRICULA'].unique()     #Matriculas sem repetição.
  horas = dados['CARGA_HORARIA']               #Referente a coluna da carga horária.
  notas = dados['NOTA']                        #Coluna das notas.
  horasI = []
  horasT = []
  #Eu resolvi fazer um trecho extra para também poder informar o CR por disciplina.
  disciplinasT = dados['COD_DISCIPLINA']
  disciplinasU = dados['COD_DISCIPLINA'].unique()


  def CalculaCR(self, registroUnicos, registrosTotais, valorColuna, valorNotas, horas):
    vT = []  #Vetor auxiliar.
    v = []   #Vetor auxiliar.
    for i in range(len(registroUnicos)):
      for j in range(len(registrosTotais)):
        if registroUnicos[i] == registrosTotais[j]: 
          v.append(dados.loc[j,'CARGA_HORARIA'])
          dados.loc[j,'indice'] = registroUnicos[i]    #Nessa parte do método calculamos as horas totais
      for j in range(len(registrosTotais)):            #referentes a cada parâmetro "registro",que nesse caso
        if registroUnicos[i] == registrosTotais[j]:    #vai representar os códigos de turma ou os numeros de matricula.
          dados.loc[j,'indice'] = sum(v)
          s = 0
          while s < len(v):
            v[s] = 0
            s += 1
    valorColuna = dados['indice'].tolist()        
    for i in range(len(valorColuna)):
      if valorColuna[i] != 0:
        vT.append(valorColuna[i])
    valorColuna = vT

    v = []
    for i in range(len(registroUnicos)):                   #Nessa parte do método usamos as horas totais obtidas
      cr = 0                                               #para calcular o CR relativo a cada turma ou matricula.
      for j in range(len(registrosTotais)):
        if registroUnicos[i] == registrosTotais[j]:
          cr += (horas[j] * valorNotas[j]) / valorColuna[i]
      v.append(cr)
    return v


aluno = DataBase()
turma = DataBase()
disciplina = DataBase()

A baixo iremos exibir um trecho do arquivo csv original para visualização.

In [221]:
dados

     MATRICULA COD_DISCIPLINA  COD_CURSO  NOTA  CARGA_HORARIA
0          100       SEN00209          4    82             60
1          100       MPS00012         56    90             30
2          100       SGE00014          4     8             30
3          100       GLC00203         21    65             60
4          100       GCL00100         21    96             60
..         ...            ...        ...   ...            ...
294        116       GLE00415         21    88             60
295        116       SGE00012          4     0             30
296        116       GLC00279         21    70             60
297        116       TCC00325         56    68             60
298        116       GMA00019         31     5             60

[299 rows x 5 columns]

###Agora que já temos a nossa classe criada com um módulo para resolver tanto o cálculo do CR referente a cada matricula quanto o cálculo do CR referente a cada código de curso,basta chamarmos o módulo com os parâmetros necessários,converter os valores obtidos para um numero inteiro para melhorar a visualização e passar os dados para um DataFrame que vai exibir as informações na tela quando for chamado.

Chamando o módulo para obter o CR referente a cada aluno.

In [222]:
mCR = aluno.CalculaCR(aluno.matriculaU, aluno.matriculaT, aluno.horasT, aluno.notas, aluno.horas)
for i in range(len(mCR)):
  mCR[i] = int(mCR[i])
df_aluno['CR'] = mCR

Chamando o módulo para obter o CR referente a cada turma.

In [223]:
tCR = aluno.CalculaCR(turma.turmaU, turma.turmaT, turma.horasT, turma.notas, turma.horas)

for i in range(len(tCR)):
  tCR[i] = int(tCR[i])
df_turma['CR'] = tCR

aleatorioTurma = df_turma['CODIGO_DE_TURMA']                    #Aqui vamos ajeitar o "df_turma" para
ordenadoTurma = sorted(df_turma['CODIGO_DE_TURMA'].unique())    #exibir os códigos de turma em ordem crescente
aleatorioCR = df_turma['CR']                                    #ao invéz de em uma ordem aleatória.
ordenandoCR = []
for i in range(len(df_turma)):
  for j in range(len(df_turma)):
    if ordenadoTurma[i] == aleatorioTurma[j]:
      ordenandoCR.append(aleatorioCR[j])
df_turma['CR'] = ordenandoCR
df_turma['CODIGO_DE_TURMA'] = ordenadoTurma

Aqui agora vai um bloco de código extra para também podermos cálcular o CR relativo a cada disciplina.

In [224]:
dCR = disciplina.CalculaCR(disciplina.disciplinasU, disciplina.disciplinasT, disciplina.horasT, disciplina.notas, disciplina.horas)
for i in range(len(dCR)):
  dCR[i] = int(dCR[i])
df_disciplina['CR'] = dCR

aleatorioDisciplina = df_disciplina['COD_DISCIPLINA']
ordenadoDisciplina = sorted(df_disciplina['COD_DISCIPLINA'].unique())
aleatorioCR = df_disciplina['CR']
ordenadoCR = []
for i in range(len(df_disciplina)):
  for j in range(len(df_disciplina)):
    if ordenadoDisciplina[i] == aleatorioDisciplina[j]:
      ordenadoCR.append(aleatorioCR[j])
df_disciplina['CR'] = ordenadoCR
df_disciplina['COD_DISCIPLINA'] = ordenadoDisciplina

###Agora vamos usar as informações obtidas da nossa classe para exibir os resultados.

Aqui temos o CR referente a cada código de turma.

In [225]:
df_turma

   CODIGO_DE_TURMA  CR
0                4  49
1               21  74
2               31  55
3               56  67
4              103  84

E aqui temos o CR referente a cada número de matricula.

In [226]:
df_aluno

    Matricula  CR
0         100  63
1         101  82
2         102  56
3         103  57
4         104  64
5         105  47
6         106  64
7         107  51
8         108  65
9         109  79
10        110  72
11        111  78
12        112  67
13        113  58
14        114  61
15        115  57
16        116  59

##E para finalizar eu também resolvi incluir um bônus.
###Abaixo temos o CR referente as 60 primeiras linhas de cada código de disciplina em ordem alfanumérica.

Lembrando que estamos usando uma amostragem baseada nas notas de apenas 17 alunos diferentes,por isso pode acontecer de ter algumas disciplina com CR 0 ou até mesmo 100 pois algumas tem apenas 1 aluno relacionado.

In [227]:
df_disciplina.head(60)

   COD_DISCIPLINA   CR
0        DEI00049   72
1        DGP00001   90
2        DGP00003  100
3        DGP00004   95
4        DGP00008   95
5        DGP00010   76
6        DGP00018   76
7        DGP00021   67
8        DGP00029   88
9        DGP00033   95
10       DGP00037  100
11       DGP00045   80
12       DGP00046   80
13       DGP00108   68
14       GAG00032   77
15       GAG00046   85
16       GAN00140    0
17       GAN00145   22
18       GAN00146    0
19       GAN00147   85
20       GAN00167   45
21       GBG00049   78
22       GBG00050   90
23       GCL00064   78
24       GCL00065   77
25       GCL00066   61
26       GCL00078   67
27       GCL00079   83
28       GCL00080   90
29       GCL00090   42
30       GCL00100   96
31       GCM00011   80
32       GEO00012   83
33       GEO00014   79
34       GEO00015   94
35       GET00117   39
36       GET00118    0
37       GET00122   72
38       GFI00158   65
39       GFI00160   65
40       GGM00127   70
41       GGM00159    2
42       GHT00313   82
43       GLC00191   60
44       GLC00203   75
45       GLC00204   90
46       GLC00205   81
47       GLC00206   73
48       GLC00207   85
49       GLC00210   86
50       GLC00212   62
51       GLC00213   60
52       GLC00214   63
53       GLC00215   88
54       GLC00217   85
55       GLC00218   85
56       GLC00219  100
57       GLC00220   77
58       GLC00222   85
59       GLC00223   43

#Até a próxima <3 S2 :)